@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #192836;
  background: #fff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  margin: 0;
  color: #192836;
  line-height: 1.5;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  color: #262626;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a,
a:after,
a:before {
  color: #192836;
  transition: all 0.4s ease-in-out;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.form-control:focus,
.btn:focus,
input:focus,
button:focus {
  box-shadow: none;
  outline: none;
}

.mtb150 {
  margin: 150px 0;
}

.mt150 {
  margin-top: 150px;
}

.mb160 {
  margin-bottom: 160px;
}

.mb150 {
  margin-bottom: 150px;
}

.mtb100 {
  margin: 100px 0;
}

.mt100 {
  margin-top: 100px;
}

.mb100 {
  margin-bottom: 100px;
}

.mtb90 {
  margin: 90px 0;
}

.mt90 {
  margin-top: 90px;
}

.mb90 {
  margin-bottom: 90px;
}

.mtb80 {
  margin: 80px 0;
}

.mt80 {
  margin-top: 80px;
}

.mb80 {
  margin-bottom: 80px;
}

.mtb70 {
  margin: 70px 0;
}

.mt70 {
  margin-top: 70px;
}

.mb70 {
  margin-bottom: 70px;
}

.mtb60 {
  margin: 60px 0;
}

.mt60 {
  margin-top: 60px;
}

.mb60 {
  margin-bottom: 60px;
}

.mtb50 {
  margin: 50px 0;
}

.mt50 {
  margin-top: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.mtb40 {
  margin: 40px 0;
}

.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.mtb30 {
  margin: 30px 0;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.mtb20 {
  margin: 20px 0;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mtb10 {
  margin: 10px 0;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.m0 {
  margin: 0;
}

.mt-8 {
  margin-top: -8px;
}

.mt-15 {
  margin-top: -15px;
}

.mt-70 {
  margin-top: -70px;
}

.ptb150 {
  padding: 150px 0;
}

.pt150 {
  padding-top: 150px;
}

.pb150 {
  padding-bottom: 150px;
}

.ptb100 {
  padding: 100px 0;
}

.pt100 {
  padding-top: 100px;
}

.pb100 {
  padding-bottom: 100px;
}

.ptb90 {
  padding: 90px 0;
}

.pt90 {
  padding-top: 90px;
}

.pb90 {
  padding-bottom: 90px;
}

.ptb80 {
  padding: 80px 0;
}

.pt80 {
  padding-top: 80px;
}

.pb80 {
  padding-bottom: 80px;
}

.ptb70 {
  padding: 70px 0;
}

.pt70 {
  padding-top: 70px;
}

.pb70 {
  padding-bottom: 70px;
}

.ptb60 {
  padding: 60px 0;
}

.pt60 {
  padding-top: 60px;
}

.pb60 {
  padding-bottom: 60px;
}

.ptb50 {
  padding: 50px 0;
}

.pt50 {
  padding-top: 50px;
}

.pb50 {
  padding-bottom: 50px;
}

.ptb40 {
  padding: 40px 0;
}

.pt40 {
  padding-top: 40px;
}

.pb40 {
  padding-bottom: 40px;
}

.ptb30 {
  padding: 30px 0;
}

.pt30 {
  padding-top: 30px;
}

.pb30 {
  padding-bottom: 30px;
}

.ptb20 {
  padding: 20px 0;
}

.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.ptb10 {
  padding: 10px 0;
}

.pt10 {
  padding-top: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.btn-1,
.btn-2 {
  background: #fff;
  color: #20b2aa;
  display: inline-block;
  padding: 10px 30px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.4s ease-in-out;
  border: none;
  box-shadow: 0 28px 65px 0 rgb(188 188 188 / 0.25);
}

.btn-1:hover {
  background: #20b2aa;
  color: #fff;
}

.btn-2 {
  background: #20b2aa;
  color: #fff;
  border-radius: 5px;
}

.btn-2:hover {
  background: #fff;
  color: #20b2aa;
}

.link,
.link2 {
  color: #20b2aa;
  font-weight: 700;
  position: relative;
  display: inline-block;
  font-size: 16px;
  word-break: break-all;
}

.link i,
.link2 i {
  font-size: 12px;
  transition: all 0.4s ease-in-out;
}

.link:hover,
.link2:hover {
  color: #20b2aa;
}

.link:hover i,
.link2:hover i {
  margin-left: 5px;
}

.link:after {
  content: "";
  background: #20b2aa;
  height: 1px;
  width: 100%;
  right: 0;
  bottom: 0;
  position: absolute;
  margin-left: 5px;
  transition: all 0.4s ease-in-out;
}

.link:hover:after {
  width: 0;
}

.bxw {
  box-shadow: 0 28px 65px 0 rgb(188 188 188 / 0.25);
}

.bxw2 {
  box-shadow: 0 0 20px 0 rgb(16 26 36 / 0.55);
}

.load-more {
  box-shadow: 0 28px 65px 0 rgb(188 188 188 / 0.25);
  display: inline-block;
  background: #fff;
  padding: 20px 40px;
  color: #20b2aa;
  font-weight: 600;
}

.load-more i {
  margin-right: 5px;
  font-size: 14px;
}

.load-more i.ti-angle-right {
  margin: 0;
  margin-left: 5px;
  transition: all 0.4s ease-in-out;
  color: #20b2aa;
}

.load-more:hover i.ti-angle-right {
  margin-left: 10px;
  color: #fff;
}

.load-more:hover {
  background: #20b2aa;
  color: #fff !important;
}

.c-orange {
  color: #f28202;
}

.c-red {
  color: #20b2aa;
}

.c-green {
  color: #3adc79;
}

.c-yellow {
  color: #20b2aa;
}

.c-white {
  color: #fff;
}

.c-nevy {
  color: #2e5c88;
}

.c-skyblue {
  color: #29ccda;
}

.b-sky {
  background: #e8f4ff;
}

.b-skyblue {
  background: #29ccda;
}

.title-big a {
  font-size: 30px;
}

.title-big {
  text-align: center;
}

.ffn {
  font-family: "Inter", sans-serif;
}

.ffs {
  font-family: "Nunito", sans-serif;
}

.section-title {
  text-align: center;
  max-width: 685px;
  margin: auto;
}

.section-title h2 {
  margin-bottom: 10px;
}

.fs16 {
  font-size: 16px !important;
}

#toTop {
  position: fixed;
  bottom: 80px;
  right: 30px;
  z-index: 99;
  background: #20b2aa;
  padding: 8px 12px;
  color: #fff;
  cursor: pointer;
  display: none;
}

.hoverpop {
  transition: all 0.4s ease-in-out;
}

.hoverpop:hover {
  box-shadow: 0 10px 55px 5px rgb(188 188 188 / 0.25);
  transform: translate3d(0, -20px, 0);
}

@media only screen and (max-width: 991px) {
  .rmt70 {
    margin-top: 20px;
  }

  .rmt30 {
    margin-top: 30px;
  }

  .rmt40 {
    margin-top: 40px;
  }

  .rmb70 {
    margin-bottom: 70px;
  }

  .rmb40 {
    margin-bottom: 40px;
  }

  .rmt-40 {
    margin-top: -40px;
  }
}

@media only screen and (max-width: 768px) {
  .rmt0 {
    margin-top: 0;
  }

  .slider2 .item {
    padding: 0;
  }

  .rmt70 {
    margin-top: 20px;
  }

  .rmt30 {
    margin-top: 30px;
  }

  .rmt40 {
    margin-top: 40px;
  }

  .rmb70 {
    margin-bottom: 70px;
  }

  .rmb40 {
    margin-bottom: 40px;
  }

  .rmt-40 {
    margin-top: -40px;
  }

  .link {
    text-decoration: underline;
  }

  .link:after {
    display: none;
  }

  .pb80 {
    padding-bottom: 30px;
  }

  .pt80 {
    padding-top: 30px;
  }
}

header {
  background: #fff;
  z-index: 9999;
  width: 100%;
  z-index: 999;
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.08);
}

nav {
  text-align: center;
}

nav li {
  display: inline-block;
  position: relative;
}

nav li:last-child a {
  margin-right: 0;
}

nav a {
  font-weight: 700;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  margin-right: 35px;
  padding: 25px 0;
  font-size: 14px;
  text-transform: uppercase;
}

nav a:hover {
  color: #20b2aa;
}

nav .active:after {
  width: 100%;
}

nav .active,
nav .active:before {
  color: #20b2aa;
}

nav a:after {
  content: "";
  width: 0;
  height: 2px;
  background: #20b2aa;
  position: absolute;
  right: 0;
  bottom: 25px;
}

nav a:hover:after {
  width: 100%;
}

nav ul li > ul {
  position: absolute;
  top: 150%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  min-width: 138px;
  padding: 10px 0;
  background: #ffffffd9;
  transition: all 0.4s ease-in-out;
}

nav ul li > ul li {
  width: 100%;
  padding: 5px 20px;
  display: block;
}

nav ul li > ul li a {
  margin: 0;
  padding: 0;
}

nav ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

nav ul li > ul li ul {
  left: 100%;
  top: 15% !important;
}

nav ul li > ul li a:after {
  bottom: 0;
}

nav li > a:before {
  font-family: "themify";
  content: "\e64b";
  position: absolute;
  font-size: 8px;
  right: -13px;
  margin-top: 6px;
}

nav li > a:only-child:before {
  content: "";
}

.mobile-menu {
  display: none;
}

.social-icon li {
  display: inline-block;
}

.social-icon a {
  padding: 25px 5px;
  display: inline-block;
  font-size: 14px;
}

.social-icon a:hover {
  color: #20b2aa;
}

.search-icon a {
  margin-left: 24px;
  padding-right: 0;
}

@media only screen and (max-width: 1200px) {
  .social-icon a {
    padding: 25px 4px;
  }

  .search-icon a {
    margin-left: 0;
  }
}

@media only screen and (max-width: 991px) {
  .mobile-menu {
    display: block;
  }

  nav {
    background: #ffbc13f0;
    width: 100%;
    position: fixed;
    height: 100%;
    left: -100%;
    top: 0;
    z-index: 99;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 50px;
    transition: all 0.4s ease-in-out;
  }

  nav li {
    display: block;
    margin-bottom: 19px;
  }

  nav a {
    margin: 0;
    padding: 5px 0;
  }

  nav ul {
    text-align: left;
  }

  nav a:after {
    bottom: 5px;
    background: #192836;
  }

  nav ul li > ul {
    visibility: visible;
    opacity: 1;
    position: inherit;
    background: #fff0;
    padding: 0;
    display: none;
    transition: none;
  }

  nav ul li > ul li ul {
    left: 0;
    padding: 0;
  }

  nav a.active,
  nav a.active:before,
  nav a:hover,
  nav a:hover:before {
    color: #192836;
  }

  nav a:hover:after {
    background: #192836;
  }

  .mobile-menu .ti-close {
    z-index: 99;
    position: fixed;
    right: 60px;
    top: 30px;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }

  .mobile-menu .ti-menu {
    font-size: 20px;
  }

  .social-icon {
    text-align: right;
  }

  .social-icon.me-3 {
    margin-right: 2rem !important;
  }
}

@media only screen and (max-width: 375px) {
  .mobile-menu .ti-menu {
    right: 43%;
    top: 24px;
  }

  .social-icon a {
    padding: 25px 3px;
  }

  .search-icon a {
    margin-left: 3px;
  }
}

@media only screen and (max-width: 320px) {
  .social-icon {
    text-align: right;
    margin-right: -10px;
  }
}

.slider .item {
  position: relative;
  z-index: 1;
}

.slider .item img {
  border-radius: 0;
}

.slider-bg-1 {
  background: url(../img/slider1.jpg) no-repeat center center/cover;
}

.slider-bg-5 {
  background: url(../img/slider-03.webp) no-repeat center center/cover;
}

.slider-bg-3 {
  background: url(../img/slider-01.webp) no-repeat center center/cover;
}

.slider-bg-4 {
  background: url(../img/slider-02.webp) no-repeat center center/cover;
}

.slider h1 {
  color: #fff;
  font-size: 52px;
  text-align: center;
}

.slider h1 span {
  color: #20b2aa;
}

.slider p {
  font-size: 20px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 50px;
}

.slider .item a i {
  margin-left: 5px;
}

.slider .item:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  z-index: -2;
  opacity: 0.3;
}

.slider2 .item h2,
.slider2 .item p {
  color: #fff;
}

.slider2 .item .btn-1 {
  border-radius: 4px;
}

.slider .item svg {
  margin-left: 5px;
}

.slider .item svg path {
  transition: all 0.4s ease-in-out;
}

.slider .item .btn-1:hover svg .s-icon-circle {
  stroke: #fff;
}

.slider .item .btn-1:hover svg .s-icon-dot {
  fill: #fff;
}

.event-picker {
  background: url(../img/event-picker-bg.jpg) no-repeat center;
  z-index: 99;
  width: 350px;
  text-align: center;
  padding: 50px 25px 85px 25px;
  margin-top: -307px;
  position: absolute;
  right: 0;
}

.event-picker p {
  max-width: 190px;
  margin: 20px auto;
}

@media only screen and (max-width: 767px) {
  .event-picker {
    transform: translate(-50%, 0);
    left: 50%;
  }
}

@media only screen and (max-width: 320px) {
  .event-picker {
    width: 305px;
  }
}

.Base {
  background-color: #fff;
  opacity: 0.302;
  box-shadow: 0 3px 65px 0 rgb(157 172 193 / 0.25);
  width: 87px;
  height: 87px;
}

@media only screen and (max-width: 991px) {
  header {
    padding: 20px 0;
  }

  .logo img {
    width: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .slider h1 {
    color: #fff;
    font-size: 36px;
    text-align: center;
  }
}

.item-with-img .item-text {
  padding: 30px 30px;
}

.item-with-img .item-text .link2 {
  margin-top: 30px;
}

.item-with-img .item-text h2 {
  margin-bottom: 10px;
}

.apply-form {
  padding: 74px 30px;
}

.apply-form h2 {
  margin-bottom: 17px;
}

.apply-form ul li {
  display: inline-block;
  margin-bottom: 30px;
}

.apply-form ul li a {
  background: #ddd;
  display: inline-block;
  padding: 15px 27px;
  margin: 0 10px;
}

.apply-form ul li a i {
  margin-right: 3px;
}

.apply-form ul {
  margin-top: 40px;
}

.apply-form .load-more {
  margin-top: 80px;
  margin-bottom: 40px;
}

.apply-form input {
  border-radius: 0;
  border: 1px solid #ebebeb;
  padding: 23px 20px;
  margin-bottom: 30px;
  box-shadow: 0 28px 65px 0 rgb(188 188 188 / 0.25);
}

.apply-form input:focus {
  border-color: #ebebeb;
}

.apply-form-padding {
  padding: 0 70px;
}

.apply-form .fb {
  background: #3b5999;
  color: #fff;
}

.apply-form .gl {
  background: #dd4b39;
  color: #fff;
}

.apply-form .fb:hover,
.apply-form .gl:hover {
  box-shadow: 0 28px 65px 0 rgb(188 188 188 / 0.25);
}

.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 28px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: -27px;
  height: 16px;
  width: 16px;
  background-color: #d1d1d1;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #ffbc13;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (max-width: 768px) {
  .apply-form-padding {
    padding: 0 15px;
  }
}

.course {
  /* background: url(../img/course-bg.jpg) no-repeat;*/
  position: relative;
  z-index: 1;
  background-size: cover;
}

.course::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffffe8;
  z-index: -1;
}

.course-req-form {
  /*background: url(../img/course-form-bg1.jpg) no-repeat;*/
  padding: 30px 30px;
  max-width: 640px;
  border-radius: 4px;
  background: #fff;
}

.course-req-form input,
.course-req-form select {
  width: 100%;
  border: 0;
  padding: 10px 15px;
  margin-bottom: 9px;
  border-radius: 4px;
  border: solid 1px #e5e4e4;
  box-shadow: 0 28px 65px 0 rgb(188 188 188 / 0.25);
}

.course-item-img {
  overflow: hidden;
}

.course-item-img img {
  transition: all 0.4s ease-in-out;
}

.course-item:hover img {
  transform: scale(1.5);
}

.course-item-content {
  padding: 25px 25px 50px;
  margin-bottom: 30px;
}

.course-item img {
  width: 100%;
}

.course-item h3 {
  transition: all 0.4s ease-in-out;
}

.course-item h3:hover {
  color: #20b2aa;
}

.course-item-author {
  background: #20b2aa2e;
  color: #20b2aa;
  padding: 1px 9px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}

.course-item-author:hover {
  color: #20b2aa;
}

.course-item-content span {
  font-weight: 700;
  font-size: 30px;
  position: relative;
  z-index: 1;
}

.course-item-content span:after {
  position: absolute;
  content: "";
  background: #39e17b;
  height: 8px;
  width: 115%;
  bottom: 4px;
  left: 0;
  z-index: -1;
}

@media only screen and (max-width: 991px) {
  .course-req-form {
    margin: auto;
  }

  .course-padding {
    padding: 0 15px;
  }
}

footer {
  background: #192735;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.footer-subscribe input {
  border: 0;
  border-radius: 0;
  font-size: 14px;
  height: 60px;
  padding-left: 25px;
}

.footer-subscribe {
  padding: 50px 45px;
  position: relative;
}

.footer-subscribe button {
  background: #20b2aa;
  color: #fff;
  border: 0;
  padding: 0 25px;
  border-radius: 0;
}

.footer-subscribe-content {
  color: #a3b5ca;
  padding-left: 40px;
  max-width: 560px;
}

.footer-subscribe .input-group {
  margin-top: 6px;
}

.footer-subscribe:before {
  position: absolute;
  content: "";
  background: #23374b;
  width: 6px;
  height: 90px;
  left: 0;
  top: 50%;
  margin-top: -45px;
}

.footer-subscribe-content .link2 {
  color: #fff;
  margin-top: 8px;
}

.footer-subscribe-content .link2 i {
  color: #fff;
}

.footer-subscribe-content .link2:hover,
.footer-subscribe-content .link2:hover i {
  color: #20b2aa;
}

.footer-subscribe-content a {
  font-size: 14px;
}

.footer-subscribe:after {
  position: absolute;
  content: url(../img/edu-logo.png);
  right: 20px;
  top: 35px;
  z-index: -1;
}

footer li,
footer li a {
  color: #a3b5ca;
}

footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

footer li {
  margin-bottom: 10px;
  font-size: 14px;
}

footer li i {
  margin-right: 5px;
}

footer li:hover a {
  margin-left: 15px;
  color: #20b2aa;
}

footer li a {
  margin-bottom: 5px;
  display: inline-block;
}

.footer-bar {
  padding: 15px;
}

.footer-bar li {
  display: inline-block;
  margin: 0;
  margin-left: 15px;
}

.footer-bar p {
  color: #a3b5ca;
}

.footer-bar a {
  margin: 0;
}

.footer-bar ul {
  text-align: right;
}

.footer-bar li:first-child {
  margin-left: 0;
}

.footer-bar li:hover a {
  margin-left: 0;
}

.footer-bar p {
  color: #a3b5ca;
  font-size: 14px;
}

.footer-bar a {
  margin: 0;
}

.footer-bar ul {
  text-align: right;
}

.footer-bar li:first-child {
  margin-left: 0;
}

.footer-bar li:hover a {
  margin-left: 0;
}

.footer-subscribe-content p {
  font-size: 14px;
}

.footer-small .footer-bar {
  padding: 0;
  text-align: center;
}

.footer-small a,
.footer-small p {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  footer ul,
  footer h3 {
    padding-left: 45px;
  }

  footer h3 {
    margin-top: 30px;
  }

  .footer-bar {
    text-align: center;
  }

  .footer-bar ul {
    padding: 0;
    margin-top: 0;
    text-align: center;
  }

  .footer-bar li {
    margin-left: 10px;
  }

  .footer-small .text-start {
    text-align: center !important;
  }

  .footer-small {
    margin: 0 0 60px 0;
    padding-top: 20px;
  }
}

.primary-color {
  color: #20b2aa;
}
.text-primary {
  color: #20b2aa !important;
}
.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #20b2aa;
}

.timeline {
  position: relative;
  padding: 0;
  margin-top: 50px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 3px;
  height: 100%;
  background: #20b2aa;
}

.timeline-row {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.timeline-row.left-content .timeline-image {
  order: 1;
  width: 45%;
}

.timeline-row.left-content .timeline-text {
  order: 2;
  width: 45%;
  margin-left: auto;
  text-align: left;
}

.timeline-row.right-content .timeline-image {
  order: 2;
  width: 45%;
  margin-left: auto;
}

.timeline-row.right-content .timeline-text {
  order: 1;
  width: 45%;
  text-align: right;
}

.timeline-image img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 6px 25px rgb(0 0 0 / 0.1);
}

.timeline-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
  background: #fff;
  border-radius: 50%;
  border: 4px solid #20b2aa;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.timeline-icon img {
  width: 32px;
  height: 32px;
}

.timeline-text {
  border-radius: 8px;
  background: #fff;
}
.time-content {
  padding: 20px;
}

@media (max-width: 768px) {
  .timeline::before {
    left: 28px;
  }

  .timeline-text h3 {
    font-size: 15px;
  }

  .timeline-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .timeline-row .timeline-image {
    order: 1 !important;
    width: 100% !important;
    padding-left: 60px;
  }

  .timeline-row .timeline-text {
    order: 2 !important;
    width: calc(100% - 60px) !important;
    text-align: left !important;
    margin-left: auto;
  }

  .timeline-icon {
    left: 28px;
    transform: translate(-50%, -50%);
  }
}

.sd-done {
  display: block;
}

.enqbtn {
  display: block;
}

.sm-d-1023 {
  display: none;
}

@media (max-width: 991px) {
  .sm-d-1023 {
    display: block;
  }

  .sd-done {
    display: none;
  }

  .enqbtn {
    display: none;
  }
}

@media (max-width: 1023px) {
  .mobile-fixed-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    z-index: 9999;
    border-top: 1px solid #ddd;
  }

  .mobile-fixed-buttons a {
    flex: 1;
    margin: 0 5px;
  }
}

.benefits-section {
  text-align: center;
}

.benefits-section img {
  width: 64px;
}

.benefits-section h5 {
  margin-top: 10px;
}

.contact-box {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 6px 25px rgb(0 0 0 / 0.08);
}

.contact-box p {
  margin-bottom: 15px;
  font-size: 16px;
}

.map-frame iframe {
  border-radius: 12px;
}

.accordion-button {
  font-weight: 600;
}

.school-feature-strip h5 {
  line-height: 1;
  margin-bottom: 1px;
  font-size: 20px;
  color: #333;
}

.school-feature-strip p {
  font-size: 18px;
  color: #333;
}

.benefits-section h2 {
  font-size: 30px;
  line-height: 40px;
}

@media only screen and (max-width: 768px) {
  .slider2 .item {
    padding: 0;
  }
}

@media (max-width: 1023px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 96%;
  }
}

.testimonial-stars i {
  color: #ffc107;
  margin-left: 2px;
  font-size: 14px;
}

.welcome-new h1 {
  font-size: 32px;
}

.welcome-new h2 {
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .benefits-section h2 {
    font-size: 19px;
    line-height: 28px;
  }

  .twitet p,
  .twitet p a {
    font-size: 16px;
    line-height: 28px;
  }

  .section-title h2 {
    font-size: 22px;
  }

  .mt-5 {
    margin-top: 2rem !important;
  }

  .mt60 {
    margin-top: 20px;
  }

  .mt20 {
    margin-top: 10px;
  }

  .slider2 .item {
    height: auto;
  }

  h2 {
    font-size: 20px;
  }

  .welcome-new h1 {
    font-size: 28px;
  }

  .welcome-new h2 {
    font-size: 18px;
  }

  .school-feature-strip h5 {
    font-size: 16px;
  }
}

.welcome-new span {
  color: #20b2aa;
}

.testimonial-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .testimonial-top {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

.call-now-btn {
  display: none;
}

@media (min-width: 768px) {
  .call-now-btn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: #20b2aa;
    color: #fff;
    padding: 14px 18px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 0.3);
    font-weight: 700;
    text-decoration: none;
    z-index: 9999;
  }

  .call-now-btn:hover {
    background: #14532d;
  }
}

#captchaBox1,
#captchaBox2 {
  background: #eef2ff;
  border-radius: 6px;
  padding: 10px 13px;
  letter-spacing: 2px;
  display: inline-block;
  border: 1px dashed #b4b4b4;
  text-align: center;
}

.date-wrapper {
  position: relative;
}

.custom-date::-webkit-inner-spin-button,
.custom-date::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.custom-date {
  appearance: none;
  -webkit-appearance: none;
  padding-right: 40px;
}

.date-placeholder {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none;
  transition: 0.2s ease;
}

.custom-date:focus + .date-placeholder,
.custom-date:valid + .date-placeholder {
  opacity: 0;
  visibility: hidden;
}

.date-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #555;
  cursor: pointer;
}

.social-icon img {
  width: 28px;
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  nav a {
    margin-right: 20px;
  }
}

.feature-card {
  background: #fafafa;
  border-radius: 14px;
  padding: 40px 25px;
  transition: all 0.3s ease;
}
.feature-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 800;
}
.feature-card i {
  color: #222;
}

.feature-card:hover {
  background: #ffffff;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  transform: translateY(-5px);
}

.start-link {
  display: inline-block;
  margin-top: 15px;
  color: #20b2aa;
  font-weight: 600;
  text-decoration: none;
}

.start-link:hover {
  text-decoration: underline;
}
.bg-6dbbbd {
  background-color: #6dbbbd;
}
.online-learning-section {
  background: #fff8ee;
}

.image-grid {
  position: relative;
  width: 100%;
}

.blob {
  position: absolute;
  width: 250px;
  height: 250px;
  padding: 10px;
  border-radius: 60% 40% 55% 45%;
  overflow: hidden;
}

.blob img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 60% 40% 55% 45%;
}

/* Individual blobs */
.blob-green {
  top: 0;
  left: 40px;
  border: 2px dashed #3aaa35;
}

.blob-brown {
  top: 40px;
  right: 0;
  border: 2px dashed #c48b5a;
}

.blob-red {
  bottom: 0;
  left: 0;
  border: 2px dashed #20b2aa;
}

.blob-dark {
  bottom: 20px;
  right: 40px;
  border: 2px dashed #333;
}

/* Responsive fix */
@media (max-width: 768px) {
  .image-grid {
    min-height: auto;
  }

  .blob {
    position: static;
    margin: 15px auto;
    display: block;
  }
}
.testimonial-card {
  position: relative;
  padding: 40px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  background: transparent;
}

.testimonial-text {
  line-height: 1.8;
  color: #f2f2f2;
}

.avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-card small {
  color: #e0e0e0;
}

.quote-icon {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 90px;
  color: rgba(255, 255, 255, 0.25);
  line-height: 1;
}
.background-img {
  background: url("/src/assets/img/bg.jpg") no-repeat center center;
  background-size: cover;
}
/*.distance-learning {
    background: #fff8f0;
}*/

/* Testimonial */
.testimonial-box {
  position: relative;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
}

.testimonial-box p {
  color: #555;
  line-height: 1.8;
}

.avatar {
  width: 48px !important;
  height: 48px;
  border-radius: 50%;
}

.quote-mark {
  position: absolute;
  right: 25px;
  bottom: 10px;
  font-size: 90px;
  color: #eee;
  line-height: 1;
}

/* Carousel dots */
.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ddd;
}

.carousel-indicators .active {
  background: #20b2aa;
}

/* Stats */
.stat-box {
  padding: 30px 20px;
  text-align: center;
  border-radius: 12px;
  border: 1px dashed #20b2aa;
  background: #fff;
}
.stat-box img {
  width: 64px;
  margin-bottom: 10px;
}

.stat-box h2 {
  color: #20b2aa;
  font-weight: 700;
}

.stat-box p {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
}

.distance-hero {
  position: relative;
  overflow: hidden;
}

.hero-badge {
  color: #20b2aa;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
}

.hero-title {
  font-weight: 800;
  color: #1d1736;
  line-height: 1.3;
}

.hero-text {
  color: #6b6b6b;
  line-height: 1.8;
  max-width: 520px;
}

.hero-btn:hover {
  background: #e94345;
  color: #fff;
}

.hero-image {
  max-width: 100%;
}
.certification-cta {
  position: relative;
  overflow: hidden;
}

.cta-badge {
  color: #20b2aa;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.cta-title {
  font-weight: 800;
  color: #1d1736;
}

.cta-text {
  color: #6b6b6b;
  max-width: 600px;
  margin: auto;
  line-height: 1.8;
}

.cta-btn {
  background: #20b2aa;
  color: #fff;
  padding: 12px 28px;
  font-weight: 600;
  border-radius: 8px;
}

.cta-btn:hover {
  background: #14532d;
  color: #fff;
}

/* Decorative shapes */
.shape {
  position: absolute;
  border-radius: 50%;
}

.circle-red {
  width: 80px;
  height: 80px;
  background: #ff7a7a;
  top: 30%;
  left: 10%;
}

.circle-yellow {
  width: 120px;
  height: 120px;
  background: #ffeb3b;
  bottom: 20%;
  right: 10%;
}

.ring-red {
  width: 60px;
  height: 60px;
  border: 3px solid #20b2aa;
  top: 40%;
  right: 18%;
}
.contact-footer {
  background: #0d0e1f;
  color: #fff;
}

.footer-title {
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-text {
  color: #cfcfcf;
  line-height: 1.7;
}
.quick-links h4 {
  margin-bottom: 20px;
  position: relative;
  color: var(--whiteColor);
  font-size: 16px;
  font-weight: 800;
}
.quick-links li a {
  color: #fff;
}
.contact-item {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.contact-item i {
  font-size: 22px;
  color: #20b2aa;
  margin-top: 4px;
}

.contact-item p {
  margin: 0;
  color: #cfcfcf;
  font-size: 14px;
}
.feature-item {
  text-align: center;
  padding: 30px 25px;
  margin-bottom: 20px;
  background: #fff;
}
.feature-item img {
  width: 64px;
  transition: all 0.4s ease-in-out;
}
.feature-item h3 {
  margin-top: 20px;
  margin-bottom: 15px;
}
.feature-card img {
  width: 64px;
  margin-bottom: 10px;
}
.course-card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

/* Top image */
.course-image img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  position: relative;
}

/* Price badge */
.price-badge {
  position: absolute;
  top: 190px;
  right: 20px;
  background: #fff;
  color: #ff4d4f;
  font-weight: 700;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Bottom content with shape */
.course-content {
  position: relative;
  padding: 40px 25px 30px;
  background: #ff4d4f;
  color: #fff;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.course-image:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(https://angular.envytheme.com/odemy-ng/media/box-shape5-DDQWHKOH.png);
  background-position: bottom;
  background-repeat: no-repeat;
}
/* Author */
.author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.author img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.author span {
  font-weight: 600;
}

/* Title & text */
.course-title {
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 12px;
}

.course-text {
  font-size: 14px;
  line-height: 1.7;
  opacity: 0.95;
}
/* ======================================
 *  15. news
/* ====================================== */
.news-item {
  margin-bottom: 30px;
}

.news-item:hover img {
  transform: scale(1.5);
}

.news-item-img {
  position: relative;
  overflow: hidden;
}

.news-item-img img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.news-item-img i {
  border-radius: 50%;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.29);
  box-shadow: 0px 3px 65px 0px rgba(157, 172, 193, 0.25);
  width: 86px;
  height: 86px;
  text-align: center;
  line-height: 86px;
  color: #fff;
  margin-top: -43px;
  margin-left: -43px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.news-item-img i:hover {
  background: #20b2aa;
}

.news-item-content {
  padding: 15px 30px 30px;
}

.news-item-content span {
  font-size: 12px;
  font-weight: 600;
}

.news-item-content h3 {
  margin: 0 0 10px 0px;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.news-item:hover a h3 {
  color: #20b2aa;
}

.news-item-content a h3:hover {
  text-decoration: underline;
}

.news-item-content hr {
  border: 1px solid #20b2aa;
  width: 56px;
  margin: 1rem 0;
}

.news-single h1 {
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.news-single .news-item-img i {
  width: 200px;
  height: 200px;
  font-size: 70px;
  line-height: 200px;
  margin-top: -100px;
  margin-left: -100px;
}

.news-single a {
  display: inline;
}

.news-carousel .news-item-img i {
  font-size: 25px;
  width: 86px;
  height: 86px;
  line-height: 86px;
  margin-top: -43px;
  margin-left: -43px;
}

.news-carousel .news-item {
  box-shadow: 0px 5px 20px 0px rgba(188, 188, 188, 0.25);
}

.news-carousel {
  position: relative;
}

.news-carousel .owl-nav {
  position: absolute;
  top: -85px;
  right: 0;
}

.news-carousel .owl-nav button {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  box-shadow: 0px 28px 65px 0px rgba(188, 188, 188, 0.25);
  margin-left: 15px;
  transition: all 0.4s ease-in-out;
}

.news-carousel .owl-nav button i {
  font-size: 14px;
  color: #192836;
  transition: all 0.4s ease-in-out;
}

.news-carousel .owl-nav button:hover {
  background: #20b2aa;
  color: #fff;
}

.news-carousel .owl-nav button:hover i {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .news-single h1 {
    font-size: 38px;
  }

  .news-single .news-item-img i {
    font-size: 25px;
    width: 86px;
    height: 86px;
    line-height: 86px;
    margin-top: -43px;
    margin-left: -43px;
  }
}
.gallery-carousel .item {
  position: relative;
  overflow: hidden;
}

.gallery-carousel .item img {
  transition: all 0.4s ease-in-out;
  border-radius: 0;
}

.gallery-carousel .item:hover img {
  transform: scale(1.5);
}

.gallery-carousel .item:after {
  background: #20b2aacc;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.gallery-carousel-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 1;
  width: 320px;
  height: 160px;
  margin-left: -160px;
  margin-top: -70px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.gallery-carousel-content h3 {
  font-weight: 400;
  color: #fff;
  margin-top: 15px;
}

.gallery-carousel-content a {
  color: #fff;
  width: 80px;
  height: 80px;
  background: #ffffff7a;
  display: inline-block;
  border-radius: 50px;
  line-height: 80px;
  font-size: 25px;
}

.gallery-carousel-content a:hover {
  background: #fff;
  color: #ffbc13cf;
}

.gallery-carousel .item:hover .gallery-carousel-content,
.gallery-carousel .item:hover:after {
  opacity: 1;
}
.breadcrumb {
  padding: 50px 0;
  overflow: hidden;
  margin: 0;
}

.breadcrumb-img {
  background: url("/src/assets/img/schoolbg.jpg") no-repeat;
  background-size: 100%;
  background-position: bottom;
  position: relative;
}
/* Overlay */
.breadcrumb-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #fff;
  opacity: 0.3;
  z-index: 1;
}

/* Make sure content stays above overlay */
.breadcrumb-img > * {
  position: relative;
  z-index: 2;
}
.breadcrumb li {
  font-weight: 700;
  display: inline-block;
  margin-right: 30px;
  position: relative;
  color: #20b2aa;
}

.breadcrumb li a {
  color: #192836;
}

.breadcrumb li:hover a {
  color: #d74d52;
}

.breadcrumb li:after {
  content: "\f135";
  position: absolute;
  font-family: "bootstrap-icons";
  font-size: 10px;
  top: 5px;
  right: -22px;
  color: #192836;
}

.breadcrumb li:last-child:after {
  display: none;
}

.breadcrumb h1,
.breadcrumb ul {
  z-index: 2;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .breadcrumb::after {
    right: 40vw;
  }
}
@media only screen and (max-width: 991px) {
  .breadcrumb::after {
    right: 25vw;
  }
}
@media only screen and (max-width: 768px) {
  .breadcrumb::after {
    display: none;
  }
}
.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
}

.feature-card-modern {
  background: #ffffff;
  border-radius: 4px;
  padding: 28px 24px;
  box-shadow: 0px 28px 65px 0px rgba(188, 188, 188, 0.25) !important;
  transition: all 0.3s ease;
  position: relative;
}

.feature-card-modern:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1);
}

.feature-icon {
  width: 56px;
  height: 56px;
  background: rgba(32, 178, 170, 0.12);
  color: #20b2aa;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  margin-bottom: 16px;
}

.feature-list-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature-list-items li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #555;
  margin-bottom: 10px;
  font-size: 15px;
}

.feature-list-items i {
  color: #20b2aa;
  font-size: 14px;
}
.shadow {
  box-shadow: 0px 28px 65px 0px rgba(188, 188, 188, 0.25) !important;
}
.tick-list {
  list-style: none;
  padding-left: 0;
}

.tick-list li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #444;
}

.tick-list li::before {
  content: "✓";
  position: absolute;
  left: 0;
  top: 0;
  color: #20b2aa; /* your primary color */
  font-weight: 700;
}
.admissions-new h2 {
  font-size: 24px;
}
.contact-info-item {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.contact-info-item i {
  font-size: 20px;
  color: #20b2aa;
  margin-top: 4px;
}

.contact-info-item h6 {
  margin-bottom: 4px;
  font-weight: 600;
}
.blog-hero {
  color: #222;
}

.blog-category {
  display: inline-block;
  background: #20b2aa;
  color: #fff;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  margin-bottom: 5px;
}

.blog-title {
  font-weight: 700;
  max-width: 800px;
  margin: 0 auto;
}

.blog-meta {
  opacity: 0.9;
}

.blog-text {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 18px;
}

.blog-sidebar .sidebar-box {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.blog-sidebar h5 {
  font-weight: 600;
  margin-bottom: 12px;
}

.blog-sidebar ul {
  padding-left: 18px;
}
.sidebar-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  margin-bottom: 30px;
}

.sidebar-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 10px;
}

/* Recent Post List */
.recent-post-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Item */
.recent-post-item {
  display: flex;
  gap: 14px;
  text-decoration: none;
  align-items: center;
  transition: transform 0.2s ease;
}

.recent-post-item:hover {
  transform: translateY(-2px);
}

/* Image */
.recent-post-item img {
  width: 90px;
  height: 65px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}

/* Content */
.recent-post-content h6 {
  font-size: 15px;
  font-weight: 600;
  color: #111;
  margin-bottom: 4px;
  line-height: 1.3;
}

.recent-post-content span {
  font-size: 13px;
  color: #888;
}
.feature-modern-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  height: 100%;
}

.feature-modern-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.1);
}

/* Header */
.feature-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.feature-header h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  color: #1f2937;
}

/* Badge */
.feature-badge {
  width: 34px;
  height: 34px;
  background: #20b2aa;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Points */
.feature-points {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature-points li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 14.5px;
  color: #4b5563;
}

.feature-points li i {
  color: #22c55e;
  font-size: 16px;
  margin-top: 2px;
}
